/*// OMNIPOTENT STYLING*/
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
/*	overflow-x: hidden;*/
}

.nav, .header, .background-image .footer {
	border: 1px solid black;
}





/*// NAV BAR AT TOP*/
.nav {
	height: 70px;
	background: #333333;
	border: 1px solid #000;
}

#artist-title-name {
	padding-top: 10px;
	color: #fff;
	z-index: 2;
}




/*FOOTER*/
.footer {
	display: flex;
	flex-wrap: wrap;
	height: 7%;
	background: #333333;
	border: 1px solid #000;
	z-index: 2;
	margin-top: 38.8%;
}





/*MAIN*/
#hyroglifics {
	margin-left: 5%;
}

/* Artist name*/
#artist-title-name {
	margin: 3px 0 0 0;
}

/*// Photo*/
.artist-photo {
	object-fit: cover;
	display: inline-block;
	margin-top: -31vh;
	width: 220px;
	height: 180px;
	padding: 0;
	border: 2px solid #666666;
}

/* Artist Info */
.artist-info {
	display: inline-block;
	margin-top: 16px;
	margin-left: 5%;
	width: calc(100% - 10% - 220px);
}

td {
	padding: 15px 15px 1px 2px ;
	border: 2px solid #666666;
}





/*MEDIA*/
@media (max-width: 1100px) {
	.artist-photo {
		margin-top: -36vh;
	}
}

@media (max-width: 895px) {
	.artist-photo {
		margin-top: -44vh;
	}
}

@media (max-width: 796px) {
	.artist-photo {
		margin-top: -52vh;
	}
}

@media (max-width: 710px) {
	#hyroglifics {
		margin-left: 0;
	}
	.artist-photo {
		display: block;
		margin: auto;
		margin-top: 15px;
		width: 80%;
		height: 180px;
	}
	.artist-info {
		display: block;
		margin-left: 2.5%;
		width: 95%;
	}
}

@media (max-width: 420px) {
	.artist-info {
		margin-bottom: 65px;
	}
}