<header class="nav" id="artist-nav">
    <h1 class="text-center" id="artist-title-name">Hyroglifics</h1>
</header>
<main id="hyroglifics">
    <img src="images/Hyroglifics.jpg" alt="Hyroglifics DJing" class="artist-photo">
    <table class="artist-info">
        <tr class="table-row">
            <td class="table-cell">Description</td>
            <td class="table-cell">Hyroglifics has come correct since stepping out with D&B fringe leviathans, Critical Music, in 2014. The decorated producer has been on his grind; notching up the accolades as one of FACT mag’s ’10 Drum & Bass Producers to watch in 2015’, headhunted for the prestigious Red Bull Academy, and heralded for his debut extended-player on Kasra’s Critical Music with the genre-bending ‘No Drama’ EP in summer 2015.</td>
        </tr>
        <tr class="table-row">
            <td class="table-cell">Genre(s)</td>
            <td class="table-cell">Drum & Bass, Hip Hop</td>
        </tr>
        <tr class="table-row">
            <td class="table-cell">Skills to Teach</td>
            <td class="table-cell">Sound Design, Composition, Drums</td>
        </tr>
    </table>
</main>
<footer class="footer footer-index navbar-fixed-bottom">
</footer>