<div class="body-index">
    <div class="nav">
        <nav class="nav">
            <div class="signup-login-button" id="sign-up">
                <button class="signup-login-link text-center"  id="sign-up-button" tabindex="0">Sign Up</button>
                <div class="sign-up-popout">
                    <form autocomplete="on" class="signup-login-form" id="signup-form">
                        <label for="signup-fullname-input" class="label">
                            <input  id="signup-fullname-input" class="signup-login-input" type="text" placeholder="Full name">
                        </label><br>
                        <label for="signup-email-input" class="label">
                            <input id="signup-email-input" class="signup-login-input" type="email" placeholder="Your email address">
                        </label><br>
                        <div class="email-validation">
                            <ul>
                                <li id="username-item"><span id="username-check" class="check">&#10006;</span> Contains User Name</li>
                                <li id="at-item"><span id="at-check" class="check">&#10006;</span> Contains '@' Symbol</li>
                                <li id="domain-item"><span id="domain-check" class="check">&#10006;</span> Contains Domain Name</li>
                            </ul>
                        </div>
                        <label for="signup-password1-input" class="label">
                            <input id="signup-password1-input" class="signup-login-input" type="password" placeholder="Create a password">
                        </label><br>
                        <label for="signup-password2-input" class="label">
                            <input id="signup-password2-input" class="signup-login-input" type="password" placeholder="Confirm password">
                        </label><br>
                        <div class="password-validation">
                            <ul>
                                <li id="password-length-item"><span id="password-length-check" class="check">&#10006;</span> 10-35 characters long.</li>
                                <li id="uppercase-item"><span id="uppercase-check" class="check">&#10006;</span> Contains uppercase letter.</li>
                                <li id="lowercase-item"><span id="lowercase-check" class="check">&#10006;</span> Contains lowercase letter.</li>
                                <li id="number-item"><span id="number-check" class="check">&#10006;</span> Contains number.</li>
                                <li id="symbol-item"><span id="symbol-check" class="check">&#10006;</span> Contains a symbol.</li>
                                <li id="match-item"><span id="match-check" class="check">&#10006;</span> Passwords match.</li>
                            </ul>
                        </div>
                        <a ui-sref="searchArtists" class="sign-up-button text-center" id="signup-submit">Sign up</a>
                    </form>
                </div>
            </div>
            <div class="signup-login-button" id="login">
                <button class="signup-login-link text-center" id="login-button">Log In</button>
                <div class="login-popout">
                    <form autocomplete="on" class="signup-login-form" id="login-form">
                        <label for="login-email-input" class="label">
                            <input id="login-email-input" placeholder="Email Address" type="email" class="signup-login-input">
                        </label><br>
                        <label for="login-password-input" class="label">
                            <input id="login-password-input" placeholder="Password" type="password" class="signup-login-input">
                        </label>
                        <a ui-sref="searchArtists" class="sign-up-button text-center" id="login-button">Log In</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="main">
        <section class="title">
            <h1 class="name-text">Music Mentors</h1>
            <p class="slogan-text">Learn music production from your <span id="fav-music-artist">favorite music artists.</span></p>
        </section>
        <main class="inputs center-block">
            <select id="genres" class="input search-inputs text-center center-block" tabindex="0">
                <option class="first-option" value="Genre" selected>Browse by Genre</option>
            </select>
            <select id="focus" class="input search-inputs text-center center-block" tabindex="0">
                <option class="first-option" value="Focus">Browse by Focus</option>
            </select>
            <select id="price" class="input search-inputs text-center center-block" tabindex="0">
                <option class="first-option" value="Price">Browse by Price</option>
                <option value="{{x.price}}" ng-repeat="x in data | orderBy : 'price'">{{x.price}}</option>
            </select>
            <a id="search-music-artists" class="search-button text-center" ui-sref="searchArtists">Search Music Artists</a>
        </main>
    </div>
</div>