<div class="body">
    <nav class="nav inputs">
        <select id="genres" class="input" tabindex="0">
            <option class="first-option" value="Genre" selected>Browse by Genre</option>
        </select>
        <select id="focus" class="input text-center" tabindex="0">
            <option class="first-option" value="Focus">Browse by Focus</option>
        </select>
        <select id="price" class="input text-center" tabindex="0">
            <option class="first-option" value="Price">Browse by Price</option>
            <option value="{{x.price}}" ng-repeat="x in data | orderBy : 'price'">{{x.price}}</option>
        </select>
        <input type="search" class="search first-option" placeholder="Search" ng-model="searchData"></input>
    </nav>
</div>
<main class="artist-list">
    <div ng-repeat="x in data | filter:searchData">
        <a ui-sref="{{x.name}}" class="artist" id="{{x.name}}" tabindex="0">
            <div class="col-md-4 ind-artist">
                <div class="artist-info center-block">
                    <span class="artist-input artist-span col-md-12 text-center name" style="margin-bottom: 3px">{{x.name}}</span><br>
                    <div class="artist-input artist-span col-md-12 text-center styles" style="margin-bottom: 3px">
                        <span class="artist-input-item" ng-repeat="style in x.style">{{style}}</span>
                    </div><br>
                    <div class="artist-input artist-span col-md-12 text-center skills" style="margin-bottom: 3px" >
                        <span class="artist-input-item" ng-repeat="skill in x.skills">{{skill}}</span>
                    </div><br>
                    <img src="{{x.img}}" alt="{{x.name}}" class="artist-input artist-photo full-width center-block" style="margin-bottom: 15px">
                </div>
            </div>
        </a>
    </div>
</main>
<div class="row">
    <footer class="footer navbar-fixed-bottom"></footer>
</div>